
/* figtree-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/figtree-v9-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* figtree-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/figtree-v9-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* figtree-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/figtree-v9-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* figtree-800 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 800;
    src: url('./assets/fonts/figtree-v9-latin-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
*{
    font-family: 'Figtree';
}
/* Variables */
:root {
    --bg-color: rgba(6, 23, 30, 1);
    --bg-footer: rgba(9, 33, 42, 1);
    --bg-header: #a22f26;
    --footer-color: rgba(153, 172, 179, 1);
}
/* Body */
body {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: var(--bg-color);
}
/* Header */
header{
    width: 100%;

    background-color: var(--bg-header);
}
.header-elements-container{
    color: floralwhite;
    
    display: flex;
    align-items: center;
    justify-content: center;

    height: 75px;
}
.books-icon{
    width: 50px;
    height: auto;
}
/* Main */
main{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding-left: max(calc(50% - 720px), 140px);
    padding-right: max(calc(50% - 720px), 140px);
    
    gap:25px;

    padding-top: 15px;
    padding-bottom: 15px;
    }
/* Footer */
footer {
    width: 100%;

    background-color: var(--bg-footer);

    color: floralwhite;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    padding: 10px 0;

    border-top-left-radius: 50% 40px;
    border-top-right-radius: 50% 40px;

}
footer svg {
    width: clamp(100px, 20vw, 150px);
    height: auto;
}
/* Responsive design */
@media (max-width: 480px) {
    main {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    main {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (min-width: 769px) and (max-width: 1279px) {
    main {
        padding-left: 50px;
        padding-right: 50px;
    }  
}

@media (min-width: 1280px) {
    .book{
        height: 550px;
        width: 350px;
    }
    *{
        font-size: calc(100% + 0.5px);
    }
    h1{
        font-size: 35px;
    }
    h3{
        font-size: 22px;
    }
}