.like-btn,
.send-comment-btn {
    background-color: inherit;

    border: solid 2px rgb(7, 81, 106);

    cursor: pointer;
}
.like-btn {
    display: flex;
    align-items: center;

    background-color: inherit;

    cursor: pointer;
}
.liked {
    fill: #FD5B4F;
    stroke: none;
}
@keyframes heartBeatAnimation {
    0%   { transform: scale(1.75); }
    25%  { transform: scale(1); }
    50%  { transform: scale(1.75); }
    100% { transform: scale(1); }
}

.heart-beat {
    animation-name: heartBeatAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;

    fill: #FD5B4F;
    stroke: none;
}
